In [3]:
import agate

## This is how I got 10 years of campus data ready for analysis and visualization in Tableau.

## Bring all the raw data in

In [4]:
##create column type, 'campus' text
specified_types = {
    'CAMPUS': agate.Text()
}

students0607 = agate.Table.from_csv('../raw_data/0607student.txt')
students0708 = agate.Table.from_csv('../raw_data/0708student.txt')
students0809 = agate.Table.from_csv('../raw_data/0809student.txt')
students0910 = agate.Table.from_csv('../raw_data/910student.txt')
students1011 = agate.Table.from_csv('../raw_data/1011student.txt')
students1112 = agate.Table.from_csv('../raw_data/1112student.txt')
students1213 = agate.Table.from_csv('../raw_data/1213student.txt')
students1314 = agate.Table.from_csv('../raw_data/1314student.txt')
students1415 = agate.Table.from_csv('../raw_data/1415student.txt')
students1516 = agate.Table.from_csv('../raw_data/1516student.txt')
cr0607 = agate.Table.from_csv('../raw_data/0607cr.txt')
cr0708 = agate.Table.from_csv('../raw_data/0708cr.txt')
cr0809 = agate.Table.from_csv('../raw_data/0809cr.txt')
cr0910 = agate.Table.from_csv('../raw_data/910cr.txt')
cr1011 = agate.Table.from_csv('../raw_data/1011cr.txt')
cr1112 = agate.Table.from_csv('../raw_data/1112cr.txt')
cr1213 = agate.Table.from_csv('../raw_data/1213cr.txt')
cr1314 = agate.Table.from_csv('../raw_data/1314cr.txt')
cr1415 = agate.Table.from_csv('../raw_data/1415cr.txt')
cr1516 = agate.Table.from_csv('../raw_data/1516cr.txt')
locations = agate.Table.from_csv('../raw_data/Current_Schools.csv')
#brought in all campus data, campus reference lists, campus locations.

## Join on the campus column

In [5]:
join0607 = students0607.join(cr0607, left_key = 'CAMPUS', full_outer = 'true', require_match = 'false', columns = 'true')
join0708 = students0708.join(cr0708, left_key = 'CAMPUS', full_outer = 'true', require_match = 'false', columns = 'true')
join0809 = students0809.join(cr0809, left_key = 'CAMPUS', full_outer = 'true', require_match = 'false', columns = 'true')
join0910 = students0910.join(cr0910, left_key = 'CAMPUS', full_outer = 'true', require_match = 'false', columns = 'true')
join1011 = students1011.join(cr1011, left_key = 'CAMPUS', full_outer = 'true', require_match = 'false', columns = 'true')
join1112 = students1112.join(cr1112, left_key = 'CAMPUS', full_outer = 'true', require_match = 'false', columns = 'true')
join1213 = students1213.join(cr1213, left_key = 'CAMPUS', full_outer = 'true', require_match = 'false', columns = 'true')
join1314 = students1314.join(cr1314, left_key = 'CAMPUS', full_outer = 'true', require_match = 'false', columns = 'true')
join1415 = students1415.join(cr1415, left_key = 'CAMPUS', full_outer = 'true', require_match = 'false', columns = 'true')
join1516 = students1516.join(cr1516, left_key = 'CAMPUS', full_outer = 'true', require_match = 'false', columns = 'true')

## Make individual column filters, apply to the joined tables

In [6]:
#The types of data available changed a few times, so we need different column sets to get everything we want. 

columns_one = ['CAMPUS', 'CPETALLC','CPETBLAC', 'CPETHISC', 'CPETWHIC', 'CPETINDC', 'CPETPACC',
        'CPETECOC', 'CPETLEPC','CPETRSKC', 'CPETBLAP','CPETHISP','CPETWHIP', 'CPETINDP', 'CPETPACP', 'CPETECOP','CPETLEPP',
'CPETRSKP','CPETBILC', 'DISTNAME', 'CAMPNAME', 'CNTYNAME']

columns_two = ['CAMPUS', 'CPETALLC','CPETBLAC', 'CPETHISC', 'CPETWHIC', 'CPETINDC', 'CPETASIC', 'CPETPCIC',
        'CPETECOC', 'CPETLEPC','CPETRSKC', 'CPETBLAP','CPETHISP','CPETWHIP', 'CPETINDP', 'CPETASIP', 'CPETPCIP', 'CPETECOP','CPETLEPP',
'CPETRSKP','CPETBILC', 'DISTNAME', 'CAMPNAME', 'CNTYNAME']

columns_three = ['CAMPUS', 'CPETALLC','CPETBLAC', 'CPETHISC', 'CPETWHIC', 'CPETINDC', 'CPETASIC', 'CPETPCIC', 'CPETTWOC',
       'CPETECOC', 'CPETLEPC','CPETBLAP','CPETHISP','CPETWHIP','CPETINDP', 'CPETASIP', 'CPETPCIP', 'CPETTWOP', 'CPETECOP','CPETLEPP', 'DISTNAME', 'CAMPNAME', 'CNTYNAME']
 
    
campus0607_select = join0607.select(columns_one)
campus0708_select = join0708.select(columns_one)
campus0809_select = join0809.select(columns_one)
campus0910_select = join0910.select(columns_one)
campus1011_select = join1011.select(columns_two)
campus1112_select = join1112.select(columns_three)
campus1213_select = join1213.select(columns_three)
campus1314_select = join1314.select(columns_three)
campus1415_select = join1415.select(columns_three)
campus1516_select = join1516.select(columns_three)

In [2]:
#rename all of the columns to things that make sense and match the other column sets 
column_names_one = {'CAMPUS': 'CAMPUS',
                                       'CPETALLC': 'COU_ALL',
                                       'CPETBLAC': 'COU_BLACK',
                                       'CPETHISC': 'COU_HIS',
                                       'CPETWHIC': 'COU_WHITE',
                                       'CPETINDC': 'COU_AI',
                                       'CPETPACC': 'COU_API',
                                       'CPETECOC': 'COU_ECON',
                                       'CPETLEPC': 'COU_ELL',
                                       'CPETRSKC': 'COU_ATRISK',
                                       'CPETBLAP': 'PER_BLACK',
                                       'CPETHISP': 'PER_HIS',
                                       'CPETWHIP': 'PER_WHITE',
                                       'CPETINDP': 'PER_AI',
                                       'CPETPACP': 'PER_API',
                                       'CPETECOP': 'PER_ECON',
                                       'CPETLEPP': 'PER_ELL',
                                       'CPETRSKP': 'PER_ATRISK',
                                       'CPETBILC': 'BILINGUAL_ENROLL'}

column_names_two = {'CAMPUS': 'CAMPUS',
                                       'CPETALLC': 'COU_ALL',
                                       'CPETBLAC': 'COU_BLACK',
                                       'CPETHISC': 'COU_HIS',
                                       'CPETWHIC': 'COU_WHITE',
                                       'CPETINDC': 'COU_AI',
                                       'CPETASIC': 'COU_ASIAN',
                                       'CPETPCIC': 'COU_PI',
                                       'CPETTWOC': 'COU_TWO',
                                       'CPETECOC': 'COU_ECON',
                                       'CPETLEPC': 'COU_ELL',
                                       'CPETBLAP': 'PER_BLACK',
                                       'CPETHISP': 'PER_HIS',
                                       'CPETWHIP': 'PER_WHITE',
                                       'CPETINDP': 'PER_AI',
                                       'CPETASIP': 'PER_ASIAN',
                                       'CPETPCIP': 'PER_PI',                
                                       'CPETECOP': 'PER_ECON',
                                       'CPETLEPP': 'PER_ELL',
                                       'CPETBILC': 'BILINGUAL_ENROLL'}

column_names_three = {'CAMPUS': 'CAMPUS',
                                       'CPETALLC': 'COU_ALL',
                                       'CPETBLAC': 'COU_BLACK',
                                       'CPETHISC': 'COU_HIS',
                                       'CPETWHIC': 'COU_WHITE',
                                       'CPETINDC': 'COU_AI',
                                       'CPETASIC': 'COU_ASIAN',
                                       'CPETPCIC': 'COU_PI',
                                       'CPETTWOC': 'COU_TWO',
                                       'CPETECOC': 'COU_ECON',
                                       'CPETLEPC': 'COU_ELL',
                                       'CPETBLAP': 'PER_BLACK',
                                       'CPETHISP': 'PER_HIS',
                                       'CPETWHIP': 'PER_WHITE',
                                       'CPETINDP': 'PER_AI',
                                       'CPETASIP': 'PER_ASIAN',
                                       'CPETPCIP': 'PER_PI',
                                       'CPETTWOP': 'PER_TWO',                
                                       'CPETECOP': 'PER_ECON',
                                       'CPETLEPP': 'PER_ELL',
                                       'CPETBILC': 'BILINGUAL_ENROLL'}

campus0607_rename = campus0607_select.rename(column_names_one)
campus0708_rename = campus0708_select.rename(column_names_one)
campus0809_rename = campus0809_select.rename(column_names_one)
campus0910_rename = campus0910_select.rename(column_names_one)
campus1011_rename = campus1011_select.rename(column_names_two)
campus1112_rename = campus1112_select.rename(column_names_three)
campus1213_rename = campus1213_select.rename(column_names_three)
campus1314_rename = campus1314_select.rename(column_names_three)
campus1415_rename = campus1415_select.rename(column_names_three)
campus1516_rename = campus1516_select.rename(column_names_three)
#rename the new columns

NameError: name 'campus0607_select' is not defined

## Use computation to add a year column

In [8]:
class datecolumn(agate.Computation): 
    def get_computed_data_type(self, table):
        return agate.Text()
    def run(self, table):
        new_column = []
        for row in table.rows:
            new_column.append(year_value)
        return new_column
    
year_value = '2007-01-01'
campus0607_date = campus0607_rename.compute([
    ('year', datecolumn())
])

## repeat for all of the years
# the year column is necessary to tell what data belongs to what year once everything is mashed together and if we want
# to make a line graph.

In [9]:
year_value = '2008-01-01'
campus0708_date = campus0708_rename.compute([
    ('year', datecolumn())
])

In [10]:
year_value = '2009-01-01'
campus0809_date = campus0809_rename.compute([
    ('year', datecolumn())
])

In [11]:
year_value = '2010-01-01'
campus0910_date = campus0910_rename.compute([
    ('year', datecolumn())
])

In [12]:
year_value = '2011-01-01'
campus1011_date = campus1011_rename.compute([
    ('year', datecolumn())
])

In [13]:
year_value = '2012-01-01'
campus1112_date = campus1112_rename.compute([
    ('year', datecolumn())
])

In [14]:
year_value = '2013-01-01'
campus1213_date = campus1213_rename.compute([
    ('year', datecolumn())
])

In [15]:
year_value = '2014-01-01'
campus1314_date = campus1314_rename.compute([
    ('year', datecolumn())
])

In [16]:
year_value = '2015-01-01'
campus1415_date = campus1415_rename.compute([
    ('year', datecolumn())
])

In [17]:
year_value = '2016-01-01'
campus1516_date = campus1516_rename.compute([
    ('year', datecolumn())
])

## Merge into one table

In [18]:
campus_full = agate.Table.merge([campus0607_date, campus0708_date, campus0809_date, campus0910_date, campus1011_date, campus1112_date, campus1213_date, campus1314_date, campus1415_date, campus1516_date])

## Now filter to needed districts.

district_ids = ['AUSTIN ISD', 'ROUND ROCK ISD', 'LEANDER ISD', 'PFLUGERVILLE ISD', 'HAYS CISD', 'DEL VALLE ISD', 'GEORGETOWN ISD', 'BASTROP ISD', 'MANOR ISD', 'LAKE TRAVIS ISD', 'EANES ISD', 'SAN MARCOS CISD', 'HUTTO ISD', 'DRIPPING SPRINGS ISD', 'ELGIN ISD']

campus_filter = campus_full.where(lambda row: row['DISTNAME'].upper() in district_ids
                              )

campus_filter.to_csv(path='campus_filter.csv')

## Creating CSV not necessary, only did to make sure it was working.

## Join with locations on campus column

In [19]:
located = campus_filter.join(locations, 'CAMPUS')

In [20]:
located.column_names
## Not necessary - only did to check specific column name for next steps

('CAMPUS',
 'COU_ALL',
 'COU_BLACK',
 'COU_HIS',
 'COU_WHITE',
 'COU_AI',
 'COU_API',
 'COU_ECON',
 'COU_ELL',
 'COU_ATRISK',
 'PER_BLACK',
 'PER_HIS',
 'PER_WHITE',
 'PER_AI',
 'PER_API',
 'PER_ECON',
 'PER_ELL',
 'PER_ATRISK',
 'BILINGUAL_ENROLL',
 'DISTNAME',
 'CAMPNAME',
 'CNTYNAME',
 'year',
 'COU_ASIAN',
 'COU_PI',
 'CPETRSKC',
 'PER_ASIAN',
 'PER_PI',
 'CPETRSKP',
 'COU_TWO',
 'PER_TWO',
 '\ufeffX',
 'Y',
 'FID',
 'FID_1',
 'FID_12',
 'FID_123',
 'OBJECTID_1',
 'FID_1234',
 'OBJECTID',
 'DISTRICT',
 'DISTNAME2',
 'CAMPNAME2',
 'STREET_MAI',
 'CITY_MAIL',
 'ZIP_MAIL',
 'STREET',
 'CITY',
 'ZIP',
 'COUNTY',
 'CNTYNAME2',
 'REGION',
 'GRADERANGE',
 'GRADEGRP',
 'VERIFY',
 'INSTR_TYPE',
 'PHONE',
 'EMAIL',
 'WEB',
 'RSDNTLFAC',
 'MAGNET',
 'CHART_TYPE',
 'FAX',
 'NAME',
 'FENAME')

In [21]:
#rename the funky longitude column so life can be easier
latlong = {'\ufeffX': 'longitude',
          'Y': 'latitude'}
located = located.rename(latlong)
#check if it worked
located.column_names

('CAMPUS',
 'COU_ALL',
 'COU_BLACK',
 'COU_HIS',
 'COU_WHITE',
 'COU_AI',
 'COU_API',
 'COU_ECON',
 'COU_ELL',
 'COU_ATRISK',
 'PER_BLACK',
 'PER_HIS',
 'PER_WHITE',
 'PER_AI',
 'PER_API',
 'PER_ECON',
 'PER_ELL',
 'PER_ATRISK',
 'BILINGUAL_ENROLL',
 'DISTNAME',
 'CAMPNAME',
 'CNTYNAME',
 'year',
 'COU_ASIAN',
 'COU_PI',
 'CPETRSKC',
 'PER_ASIAN',
 'PER_PI',
 'CPETRSKP',
 'COU_TWO',
 'PER_TWO',
 'longitude',
 'latitude',
 'FID',
 'FID_1',
 'FID_12',
 'FID_123',
 'OBJECTID_1',
 'FID_1234',
 'OBJECTID',
 'DISTRICT',
 'DISTNAME2',
 'CAMPNAME2',
 'STREET_MAI',
 'CITY_MAIL',
 'ZIP_MAIL',
 'STREET',
 'CITY',
 'ZIP',
 'COUNTY',
 'CNTYNAME2',
 'REGION',
 'GRADERANGE',
 'GRADEGRP',
 'VERIFY',
 'INSTR_TYPE',
 'PHONE',
 'EMAIL',
 'WEB',
 'RSDNTLFAC',
 'MAGNET',
 'CHART_TYPE',
 'FAX',
 'NAME',
 'FENAME')

## Filter to columns

In [22]:
location_columns = ['DISTNAME', 'CAMPNAME', 'CNTYNAME', 'longitude', 'latitude','STREET', 'CITY', 'ZIP','CAMPUS', 'year',
                    'COU_ALL','COU_BLACK','COU_HIS', 'COU_WHITE', 'COU_AI', 'COU_API', 'COU_ASIAN', 'COU_PI', 
                    'COU_TWO', 'COU_ECON', 'COU_ELL','PER_BLACK','PER_HIS','PER_WHITE',
                    'PER_AI', 'PER_API', 'PER_ASIAN', 'PER_PI', 'PER_TWO', 'PER_ECON','PER_ELL']
### Pay attention to the X column - it is a little funky. Renaming it above should solve the problem, but check it if you get an
### error.

In [23]:
## Apply the columns
locationfilter = located.select(location_columns)
locationfilter.to_csv(path='locationfilter.csv')
print(locationfilter)

## Make sure it worked and all the column types are correct.

| column    | data_type |
| --------- | --------- |
| DISTNAME  | Text      |
| CAMPNAME  | Text      |
| CNTYNAME  | Text      |
| longitude | Number    |
| latitude  | Number    |
| STREET    | Text      |
| CITY      | Text      |
| ZIP       | Number    |
| CAMPUS    | Number    |
| year      | Text      |
| COU_ALL   | Number    |
| COU_BLACK | Number    |
| COU_HIS   | Number    |
| COU_WHITE | Number    |
| COU_AI    | Number    |
| COU_API   | Number    |
| COU_ASIAN | Number    |
| COU_PI    | Number    |
| COU_TWO   | Number    |
| COU_ECON  | Number    |
| COU_ELL   | Number    |
| PER_BLACK | Number    |
| PER_HIS   | Number    |
| PER_WHITE | Number    |
| PER_AI    | Number    |
| PER_API   | Number    |
| PER_ASIAN | Number    |
| PER_PI    | Number    |
| PER_TWO   | Number    |
| PER_ECON  | Number    |
| PER_ELL   | Number    |

# Time to rearrange the information with some pipes

In [24]:
# Arrange the data so it will give us one cell with the race, count, and percentage. 
combos = locationfilter.compute([
    ('BLACK_combo', agate.Formula(agate.Text(), lambda row: 'BLACK'\
                              + "|"
                              + str(row['COU_BLACK'])\
                              + "|"
                              + str(row['PER_BLACK'])\
                             )),
    ('HIS_combo', agate.Formula(agate.Text(), lambda row: 'HISPANIC'\
                              + "|"
                              + str(row['COU_HIS'])\
                              + "|"
                              + str(row['PER_HIS'])\
                             )),
    ('WHITE_combo', agate.Formula(agate.Text(), lambda row: 'WHITE'\
                              + "|"
                              + str(row['COU_WHITE'])\
                              + "|"
                              + str(row['PER_WHITE'])\
                             )),
    ('AI_combo', agate.Formula(agate.Text(), lambda row: 'INDIAN'\
                              + "|"
                              + str(row['COU_AI'])\
                              + "|"
                              + str(row['PER_AI'])\
                             )),
    ('API_combo', agate.Formula(agate.Text(), lambda row: 'API'\
                              + "|"
                              + str(row['COU_API'])\
                              + "|"
                              + str(row['PER_API'])\
                             )),
    ('ASIAN_combo', agate.Formula(agate.Text(), lambda row: 'ASIAN'\
                              + "|"
                              + str(row['COU_ASIAN'])\
                              + "|"
                              + str(row['PER_ASIAN'])\
                             )),
   ('PI_combo', agate.Formula(agate.Text(), lambda row: 'PI'\
                              + "|"
                              + str(row['COU_PI'])\
                              + "|"
                              + str(row['PER_PI'])\
                             )),
    ('TWO_combo', agate.Formula(agate.Text(), lambda row: 'TWO'\
                              + "|"
                              + str(row['COU_TWO'])\
                              + "|"
                              + str(row['PER_TWO'])\
                             )),
    ('ECON_combo', agate.Formula(agate.Text(), lambda row: 'ECON'\
                              + "|"
                              + str(row['COU_ECON'])\
                              + "|"
                              + str(row['PER_ECON'])\
                             )),
    ('ELL_combo', agate.Formula(agate.Text(), lambda row: 'ELL'\
                              + "|"
                              + str(row['COU_ELL'])\
                              + "|"
                              + str(row['PER_ELL'])\
                             ))
])

# make sure it worked

print(combos)

| column      | data_type |
| ----------- | --------- |
| DISTNAME    | Text      |
| CAMPNAME    | Text      |
| CNTYNAME    | Text      |
| longitude   | Number    |
| latitude    | Number    |
| STREET      | Text      |
| CITY        | Text      |
| ZIP         | Number    |
| CAMPUS      | Number    |
| year        | Text      |
| COU_ALL     | Number    |
| COU_BLACK   | Number    |
| COU_HIS     | Number    |
| COU_WHITE   | Number    |
| COU_AI      | Number    |
| COU_API     | Number    |
| COU_ASIAN   | Number    |
| COU_PI      | Number    |
| COU_TWO     | Number    |
| COU_ECON    | Number    |
| COU_ELL     | Number    |
| PER_BLACK   | Number    |
| PER_HIS     | Number    |
| PER_WHITE   | Number    |
| PER_AI      | Number    |
| PER_API     | Number    |
| PER_ASIAN   | Number    |
| PER_PI      | Number    |
| PER_TWO     | Number    |
| PER_ECON    | Number    |
| PER_ELL     | Number    |
| BLACK_combo | Text      |
| HIS_combo   | Text      |
| WHITE_combo | Text      |
| AI_combo    | Text      |
| API_combo   | Text      |
| ASIAN_combo | Text      |
| PI_combo    | Text      |
| TWO_combo   | Text      |
| ECON_combo  | Text      |
| ELL_combo   | Text      |

In [25]:
# clarify which columns we need for schools and the combos we just made
school_columns = (
    'DISTNAME',
    'CAMPNAME',
    'CNTYNAME',
    'longitude',
    'latitude',
    'STREET',
    'CITY',
    'ZIP',
    'CAMPUS',
    'year',
    'COU_ALL',
)

combo_columns = ('BLACK_combo', 'HIS_combo', 'WHITE_combo', 'AI_combo', 'API_combo', 
                 'ASIAN_combo', 'PI_combo', 'TWO_combo', 'ECON_combo', 'ELL_combo')

# then apply it to the data

campuscombocol = school_columns + combo_columns
campuscombo = combos.select(campuscombocol)

print(campuscombo)

| column      | data_type |
| ----------- | --------- |
| DISTNAME    | Text      |
| CAMPNAME    | Text      |
| CNTYNAME    | Text      |
| longitude   | Number    |
| latitude    | Number    |
| STREET      | Text      |
| CITY        | Text      |
| ZIP         | Number    |
| CAMPUS      | Number    |
| year        | Text      |
| COU_ALL     | Number    |
| BLACK_combo | Text      |
| HIS_combo   | Text      |
| WHITE_combo | Text      |
| AI_combo    | Text      |
| API_combo   | Text      |
| ASIAN_combo | Text      |
| PI_combo    | Text      |
| TWO_combo   | Text      |
| ECON_combo  | Text      |
| ELL_combo   | Text      |

In [26]:
data_normalized = campuscombo.normalize(
        list(school_columns),
        list(combo_columns)
    )
print(data_normalized) # check columns
data_normalized.select(['CAMPNAME', 'property', 'value']).print_table() # peek at important cols

| column    | data_type |
| --------- | --------- |
| DISTNAME  | Text      |
| CAMPNAME  | Text      |
| CNTYNAME  | Text      |
| longitude | Number    |
| latitude  | Number    |
| STREET    | Text      |
| CITY      | Text      |
| ZIP       | Number    |
| CAMPUS    | Number    |
| year      | Text      |
| COU_ALL   | Number    |
| property  | Text      |
| value     | Text      |

| CAMPNAME    | property    | value             |
| ----------- | ----------- | ----------------- |
| BASTROP H S | BLACK_combo | BLACK|218|9.6     |
| BASTROP H S | HIS_combo   | HISPANIC|788|34.7 |
| BASTROP H S | WHITE_combo | WHITE|1237|54.5   |
| BASTROP H S | AI_combo    | INDIAN|14|0.6     |
| BASTROP H S | API_combo   | API|14|0.6        |
| BASTROP H S | ASIAN_combo | ASIAN|None|None   |
| BASTROP H S | PI_combo    | PI|None|None      |
| BASTROP H S | TWO_combo   | TWO|None|None     |
| BASTROP H S | ECON_combo  | ECON|989|43.5     |
| BASTROP H S | ELL_combo   | ELL|96|4.2        |
| GATEWAY SCH | BLACK_combo | BLACK|17|31.5     |
| GATEWAY SCH | HIS_combo   | HISPANIC|23|42.6  |
| GATEWAY SCH | WHITE_combo | WHITE|14|25.9     |
| GATEWAY SCH | AI_combo    | INDIAN|0|0        |
| GATEWAY SCH | API_combo   | API|0|0           |
| GATEWAY SCH | ASIAN_combo | ASIAN|None|None   |
| GATEWAY SCH | PI_combo    | PI|None|None      |
| GATEWAY SCH | TWO_combo   | TWO|None|None     |
| GATEWAY SCH | ECON_combo  | ECON|40|74.1      |
| GATEWAY SCH | ELL_combo   | ELL|4|7.4         |
| ...         | ...         | ...               |

# Normalize the data to break the combos apart

In [27]:
# explode where the pipes are
exploded = data_normalized.compute([
        ('CATEGORY', agate.Formula(agate.Text(), lambda row: row['value'].split("|")[0])),
        ('COUNT', agate.Formula(agate.Text(), lambda row: row['value'].split("|")[1])),
        ('PERCENT', agate.Formula(agate.Text(), lambda row: row['value'].split("|")[2])),
    ])
print(exploded)
exploded.select(['CAMPNAME', 'value', 'CATEGORY', 'COUNT', 'PERCENT']).print_table() # just to peek at it

| column    | data_type |
| --------- | --------- |
| DISTNAME  | Text      |
| CAMPNAME  | Text      |
| CNTYNAME  | Text      |
| longitude | Number    |
| latitude  | Number    |
| STREET    | Text      |
| CITY      | Text      |
| ZIP       | Number    |
| CAMPUS    | Number    |
| year      | Text      |
| COU_ALL   | Number    |
| property  | Text      |
| value     | Text      |
| CATEGORY  | Text      |
| COUNT     | Text      |
| PERCENT   | Text      |

| CAMPNAME    | value             | CATEGORY | COUNT | PERCENT |
| ----------- | ----------------- | -------- | ----- | ------- |
| BASTROP H S | BLACK|218|9.6     | BLACK    | 218   | 9.6     |
| BASTROP H S | HISPANIC|788|34.7 | HISPANIC | 788   | 34.7    |
| BASTROP H S | WHITE|1237|54.5   | WHITE    | 1237  | 54.5    |
| BASTROP H S | INDIAN|14|0.6     | INDIAN   | 14    | 0.6     |
| BASTROP H S | API|14|0.6        | API      | 14    | 0.6     |
| BASTROP H S | ASIAN|None|None   | ASIAN    |       |         |
| BASTROP H S | PI|None|None      | PI       |       |         |
| BASTROP H S | TWO|None|None     | TWO      |       |         |
| BASTROP H S | ECON|989|43.5     | ECON     | 989   | 43.5    |
| BASTROP H S | ELL|96|4.2        | ELL      | 96    | 4.2     |
| GATEWAY SCH | BLACK|17|31.5     | BLACK    | 17    | 31.5    |
| GATEWAY SCH | HISPANIC|23|42.6  | HISPANIC | 23    | 42.6    |
| GATEWAY SCH | WHITE|14|25.9     | WHITE    | 14    | 25.9    |
| GATEWAY SCH | INDIAN|0|0        | INDIAN   | 0     | 0       |
| GATEWAY SCH | API|0|0           | API      | 0     | 0       |
| GATEWAY SCH | ASIAN|None|None   | ASIAN    |       |         |
| GATEWAY SCH | PI|None|None      | PI       |       |         |
| GATEWAY SCH | TWO|None|None     | TWO      |       |         |
| GATEWAY SCH | ECON|40|74.1      | ECON     | 40    | 74.1    |
| GATEWAY SCH | ELL|4|7.4         | ELL      | 4     | 7.4     |
| ...         | ...               | ...      | ...   | ...     |

## Normalize 
We might not need this. TBD. (Update: I'm 90 percent sure we didn't need this, but I left it note-d out just in case.)

In [28]:

# reselect just the good columns
#stats_columns = (
    #'CATEGORY',
    #'COUNT',
    #'PERCENT'
#)

#export_columns = school_columns + stats_columns

#export = exploded.select(export_columns)
#print(export) # show column names
#export.print_table() # peek at table
#export.to_csv('school_export.csv')

| column    | data_type |
| --------- | --------- |
| DISTNAME  | Text      |
| CAMPNAME  | Text      |
| CNTYNAME  | Text      |
| longitude | Number    |
| latitude  | Number    |
| STREET    | Text      |
| CITY      | Text      |
| ZIP       | Number    |
| CAMPUS    | Number    |
| year      | Text      |
| COU_ALL   | Number    |
| CATEGORY  | Text      |
| COUNT     | Text      |
| PERCENT   | Text      |

| DISTNAME    | CAMPNAME    | CNTYNAME | longitude | latitude | STREET           | ... |
| ----------- | ----------- | -------- | --------- | -------- | ---------------- | --- |
| BASTROP ISD | BASTROP H S | BASTROP  |  -97.312… |  30.118… | 1614 CHAMBERS ST | ... |
| BASTROP ISD | BASTROP H S | BASTROP  |  -97.312… |  30.118… | 1614 CHAMBERS ST | ... |
| BASTROP ISD | BASTROP H S | BASTROP  |  -97.312… |  30.118… | 1614 CHAMBERS ST | ... |
| BASTROP ISD | BASTROP H S | BASTROP  |  -97.312… |  30.118… | 1614 CHAMBERS ST | ... |
| BASTROP ISD | BASTROP H S | BASTROP  |  -97.312… |  30.118… | 1614 CHAMBERS ST | ... |
| BASTROP ISD | BASTROP H S | BASTROP  |  -97.312… |  30.118… | 1614 CHAMBERS ST | ... |
| BASTROP ISD | BASTROP H S | BASTROP  |  -97.312… |  30.118… | 1614 CHAMBERS ST | ... |
| BASTROP ISD | BASTROP H S | BASTROP  |  -97.312… |  30.118… | 1614 CHAMBERS ST | ... |
| BASTROP ISD | BASTROP H S | BASTROP  |  -97.312… |  30.118… | 1614 CHAMBERS ST | ... |
| BASTROP ISD | BASTROP H S | BASTROP  |  -97.312… |  30.118… | 1614 CHAMBERS ST | ... |
| BASTROP ISD | GATEWAY SCH | BASTROP  |           |          |                  | ... |
| BASTROP ISD | GATEWAY SCH | BASTROP  |           |          |                  | ... |
| BASTROP ISD | GATEWAY SCH | BASTROP  |           |          |                  | ... |
| BASTROP ISD | GATEWAY SCH | BASTROP  |           |          |                  | ... |
| BASTROP ISD | GATEWAY SCH | BASTROP  |           |          |                  | ... |
| BASTROP ISD | GATEWAY SCH | BASTROP  |           |          |                  | ... |
| BASTROP ISD | GATEWAY SCH | BASTROP  |           |          |                  | ... |
| BASTROP ISD | GATEWAY SCH | BASTROP  |           |          |                  | ... |
| BASTROP ISD | GATEWAY SCH | BASTROP  |           |          |                  | ... |
| BASTROP ISD | GATEWAY SCH | BASTROP  |           |          |                  | ... |
| ...         | ...         | ...      |       ... |      ... | ...              | ... |