## Hello, full 10 years of district data

...in one notebook. Here is how I did it:

### Read in and join tables

In [110]:
import agate

In [111]:
specified_types = {
    'DISTRICT': agate.Text(),
}

#making district text due to leading zeroes, then read in all district and ref files

district0607 = agate.Table.from_csv('../raw_data/0607district.csv', column_types=specified_types)
district0708 = agate.Table.from_csv('../raw_data/0708district.csv', column_types=specified_types)
district0809 = agate.Table.from_csv('../raw_data/0809district.csv', column_types=specified_types)
district0910 = agate.Table.from_csv('../raw_data/0910district.csv', column_types=specified_types)
district1011 = agate.Table.from_csv('../raw_data/1011.csv', column_types=specified_types)
district1112 = agate.Table.from_csv('../raw_data/1112.csv', column_types=specified_types)
district1213 = agate.Table.from_csv('../raw_data/1213.csv', column_types=specified_types)
district1314 = agate.Table.from_csv('../raw_data/1314.csv', column_types=specified_types)
district1415 = agate.Table.from_csv('../raw_data/1415.csv', column_types=specified_types)
district1516 = agate.Table.from_csv('../raw_data/1516.csv', column_types=specified_types)
ref0607 = agate.Table.from_csv('../raw_data/ref0607.csv', column_types=specified_types)
ref0708 = agate.Table.from_csv('../raw_data/ref0708.csv', column_types=specified_types)
ref0809 = agate.Table.from_csv('../raw_data/ref0809.csv', column_types=specified_types)
ref0910 = agate.Table.from_csv('../raw_data/ref0910.csv', column_types=specified_types)
ref1011 = agate.Table.from_csv('../raw_data/ref1011.csv', column_types=specified_types)
ref1112 = agate.Table.from_csv('../raw_data/ref1112.csv', column_types=specified_types)
ref1213 = agate.Table.from_csv('../raw_data/ref1213.csv', column_types=specified_types)
ref1314 = agate.Table.from_csv('../raw_data/ref1314.csv', column_types=specified_types)
ref1415 = agate.Table.from_csv('../raw_data/ref1415.csv', column_types=specified_types)
ref1516 = agate.Table.from_csv('../raw_data/ref.csv', column_types=specified_types)

In [109]:
district0607_year = district0607.join(ref0607, left_key = 'DISTRICT', right_key = 'DISTRICT', full_outer = 'true', require_match = 'false', columns = 'true')

district0708_year = district0708.join(ref0708, left_key = 'DISTRICT', right_key = 'DISTRICT', full_outer = 'true', 
                    require_match = 'false', columns = 'true')

district0809_year = district0809.join(ref0809, left_key = 'DISTRICT', right_key = 'DISTRICT', full_outer = 'true', 
                    require_match = 'false', columns = 'true')

district0910_year = district0910.join(ref0910, left_key = 'DISTRICT', right_key = 'DISTRICT', full_outer = 'true', 
                    require_match = 'false', columns = 'true')

district1011_year = district1011.join(ref1011, left_key = 'DISTRICT', right_key = 'DISTRICT', full_outer = 'true', 
                    require_match = 'false', columns = 'true')

district1112_year = district1112.join(ref1112, left_key = 'DISTRICT', right_key = 'DISTRICT', full_outer = 'true', 
                    require_match = 'false', columns = 'true')

district1213_year = district1213.join(ref1213, left_key = 'DISTRICT', right_key = 'DISTRICT', full_outer = 'true', 
                    require_match = 'false', columns = 'true')

district1314_year = district1314.join(ref1314, left_key = 'DISTRICT', right_key = 'DISTRICT', full_outer = 'true', 
                    require_match = 'false', columns = 'true')

district1415_year = district1415.join(ref1415, left_key = 'DISTRICT', right_key = 'DISTRICT', full_outer = 'true', 
                    require_match = 'false', columns = 'true')

district1516_year = district1516.join(ref1516, left_key = 'DISTRICT', right_key = 'DISTRICT', full_outer = 'true', 
                    require_match = 'false', columns = 'true')

district1516_year.to_csv(path='test.csv')
#join on the district column to see district names
#I took it to a csv to make sure it was working, so not necessary but still a thing I did.

### Make variables for each set of columns needed.

In [123]:
columns_one = ['DISTRICT', 'DPETALLC','DPETBLAC', 'DPETHISC', 'DPETWHIC', 'DPETINDC', 'DPETPACC',
        'DPETECOC', 'DPETLEPC','DPETRSKC', 'DPETBLAP','DPETHISP','DPETWHIP', 'DPETINDP', 'DPETPACP', 'DPETECOP','DPETLEPP',
'DPETRSKP','DPETBILC', 'DISTNAME']

columns_two = ['DISTRICT', 'DPETALLC','DPETBLAC', 'DPETHISC', 'DPETWHIC', 'DPETINDC', 'DPETASIC', 'DPETPCIC',
        'DPETECOC', 'DPETLEPC','DPETRSKC', 'DPETBLAP','DPETHISP','DPETWHIP', 'DPETINDP', 'DPETASIP', 'DPETPCIP', 'DPETECOP','DPETLEPP',
'DPETRSKP','DPETBILC', 'DISTNAME']

columns_three = ['DISTRICT', 'DPETALLC','DPETBLAC', 'DPETHISC', 'DPETWHIC', 'DPETINDC', 'DPETASIC', 'DPETPCIC', 'DPETTWOC',
       'DPETECOC', 'DPETLEPC','DPETBLAP','DPETHISP','DPETWHIP','DPETINDP', 'DPETASIP', 'DPETPCIP', 'DPETTWOP', 'DPETECOP','DPETLEPP', 'DISTNAME']
 
district0607_select = district0607_year.select(columns_one)
district0708_select = district0708_year.select(columns_one)
district0809_select = district0809_year.select(columns_one)
district0910_select = district0910_year.select(columns_one)
district1011_select = district1011_year.select(columns_two)
district1112_select = district1112_year.select(columns_three)
district1213_select = district1213_year.select(columns_three)
district1314_select = district1314_year.select(columns_three)
district1415_select = district1415_year.select(columns_three)
district1516_select = district1516_year.select(columns_three)

#Filtered the columns needed, then used .select to apply them to tables. 
####MAKE SURE YOU INCLUDED DISTNAME AS A COLUMN YOU WANT - I forgot about it and it caused issues when normalizing and merging.

### Make another three variables, these giving clear names for the columns.

In [124]:
column_names_one = {'DISTRICT': 'DISTRICT',
                                       'DPETALLC': 'COUNT_ALL',
                                       'DPETBLAC': 'COUNT_BLACK',
                                       'DPETHISC': 'COUNT_HIS',
                                       'DPETWHIC': 'COUNT_WHITE',
                                       'DPETINDC': 'COUNT_AI',
                                       'DPETPACC': 'COUNT_API',
                                       'DPETECOC': 'COUNT_ECON',
                                       'DPETLEPC': 'COUNT_ELL',
                                       'DPETRSKC': 'COUNT_ATRISK',
                                       'DPETBLAP': 'PER_BLACK',
                                       'DPETHISP': 'PER_HIS',
                                       'DPETWHIP': 'PER_WHITE',
                                       'DPETINDP': 'PER_AI',
                                       'DPETPACP': 'PER_API',
                                       'DPETECOP': 'PER_ECON',
                                       'DPETLEPP': 'PER_ELL',
                                       'DPETRSKP': 'PER_ATRISK',
                                       'DPETBILC': 'BILINGUAL_ENROLL'}

column_names_two = {'DISTRICT': 'DISTRICT',
                                       'DPETALLC': 'COUNT_ALL',
                                       'DPETBLAC': 'COUNT_BLACK',
                                       'DPETHISC': 'COUNT_HIS',
                                       'DPETWHIC': 'COUNT_WHITE',
                                       'DPETINDC': 'COUNT_AI',
                                       'DPETASIC': 'COUNT_ASIAN',
                                       'DPETPCIC': 'COUNT_PI',
                                       'DPETTWOC': 'COUNT_TWO',
                                       'DPETECOC': 'COUNT_ECON',
                                       'DPETLEPC': 'COUNT_ELL',
                                       'DPETBLAP': 'PER_BLACK',
                                       'DPETHISP': 'PER_HIS',
                                       'DPETWHIP': 'PER_WHITE',
                                       'DPETINDP': 'PER_AI',
                                       'DPETASIP': 'PER_ASIAN',
                                       'DPETPCIP': 'PER_PI',                
                                       'DPETECOP': 'PER_ECON',
                                       'DPETLEPP': 'PER_ELL',
                                       'DPETBILC': 'BILINGUAL_ENROLL'}

column_names_three = {'DISTRICT': 'DISTRICT',
                                       'DPETALLC': 'COUNT_ALL',
                                       'DPETBLAC': 'COUNT_BLACK',
                                       'DPETHISC': 'COUNT_HIS',
                                       'DPETWHIC': 'COUNT_WHITE',
                                       'DPETINDC': 'COUNT_AI',
                                       'DPETASIC': 'COUNT_ASIAN',
                                       'DPETPCIC': 'COUNT_PI',
                                       'DPETTWOC': 'COUNT_TWO',
                                       'DPETECOC': 'COUNT_ECON',
                                       'DPETLEPC': 'COUNT_ELL',
                                       'DPETBLAP': 'PER_BLACK',
                                       'DPETHISP': 'PER_HIS',
                                       'DPETWHIP': 'PER_WHITE',
                                       'DPETINDP': 'PER_AI',
                                       'DPETASIP': 'PER_ASIAN',
                                       'DPETPCIP': 'PER_PI',
                                       'DPETTWOP': 'PER_TWO',                
                                       'DPETECOP': 'PER_ECON',
                                       'DPETLEPP': 'PER_ELL',
                                       'DPETBILC': 'BILINGUAL_ENROLL'}

district0607_rename = district0607_select.rename(column_names_one)
district0708_rename = district0708_select.rename(column_names_one)
district0809_rename = district0809_select.rename(column_names_one)
district0910_rename = district0910_select.rename(column_names_one)
district1011_rename = district1011_select.rename(column_names_two)
district1112_rename = district1112_select.rename(column_names_three)
district1213_rename = district1213_select.rename(column_names_three)
district1314_rename = district1314_select.rename(column_names_three)
district1415_rename = district1415_select.rename(column_names_three)
district1516_rename = district1516_select.rename(column_names_three)


#List of new names for each set of columns, then apply to tables using .rename.

### Add the date column
I used a different variation of what you used because this had been working for me. I had to adjust the year_value for each set, so there still might be an easier way out there, but this is worked for now.

In [125]:
#add date column - one code section per year
class datecolumn(agate.Computation): 
    def get_computed_data_type(self, table):
        return agate.Text()
    def run(self, table):
        new_column = []
        for row in table.rows:
            new_column.append(year_value)
        return new_column
    
year_value = '01-01-07'
district0607_date = district0607_rename.compute([
    ('year', datecolumn())
])

In [126]:
year_value = '01-01-08'
district0708_date = district0708_rename.compute([
    ('year', datecolumn())
])

In [127]:
year_value = '01-01-09'
district0809_date = district0809_rename.compute([
    ('year', datecolumn())
])

In [128]:
year_value = '01-01-10'
district0910_date = district0910_rename.compute([
    ('year', datecolumn())
])

In [129]:
year_value = '01-01-11'
district1011_date = district1011_rename.compute([
    ('year', datecolumn())
])

In [130]:
year_value = '01-01-12'
district1112_date = district1112_rename.compute([
    ('year', datecolumn())
])

In [131]:
year_value = '01-01-13'
district1213_date = district1213_rename.compute([
    ('year', datecolumn())
])

In [132]:
year_value = '01-01-14'
district1314_date = district1314_rename.compute([
    ('year', datecolumn())
])

In [133]:
year_value = '01-01-15'
district1415_date = district1415_rename.compute([
    ('year', datecolumn())
])

In [134]:
year_value = '01-01-16'
district1516_date = district1516_rename.compute([
    ('year', datecolumn())
])

### Merge tables

In [136]:
district_full = agate.Table.merge([district0607_date, district0708_date, district0809_date, district0910_date, district1011_date, district1112_date, district1213_date, district1314_date, district1415_date, district1516_date])

district_full.to_csv(path='district_full.csv')

#create the full table using .merge.
#Not really necessary to write it to csv, but I did as part of troubleshooting and left it.

In [137]:
district_ids = ['AUSTIN ISD', 'ROUND ROCK ISD', 'LEANDER ISD', 'PFLUGERVILLE ISD', 'HAYS CISD', 'DEL VALLE ISD', 'GEORGETOWN ISD', 'BASTROP ISD', 'MANOR ISD', 'LAKE TRAVIS ISD', 'EANES ISD', 'SAN MARCOS CISD', 'HUTTO ISD', 'DRIPPING SPRINGS ISD', 'ELGIN ISD']

district_filter = district_full.where(lambda row: row['DISTNAME'].upper() in district_ids
                              )

district_filter.to_csv(path='district_filter.csv')

#filter out unneeded districts using .where 
####Like I said, if you get an error that says 'DISTNAME', it might be because you didn't name it as a column to keep at the beginning.
####You also don't need to write it to csv here either - I did because I thought .normalize was a bash function.

### Normalize

In [140]:
district_full_normalized = district_filter.normalize(['DISTRICT','year','DISTNAME'],['COUNT_ALL',
'COUNT_BLACK',
'COUNT_HIS',
'COUNT_WHITE',
'COUNT_AI',
'COUNT_API',
'COUNT_ECON',
'COUNT_ELL',
'COUNT_ATRISK',
'PER_BLACK',
'PER_HIS',
'PER_WHITE',
'PER_AI',
'PER_API',
'PER_ECON',
'PER_ELL',
'PER_ATRISK',
'BILINGUAL_ENROLL'])

#Use .normalize to create long list - put things you need to have every row in 
#the first bracket set and all other column names in the second set.

In [141]:
district_full_normalized.to_csv(path='district_full_normalized.csv')
#Actually need to write to csv here so you can use it elsewhere aka Tableau.