In [1]:
import agate

In [2]:
# making sure campus is text
specified_types = {
    'CAMPUS': agate.Text()
}

In [3]:
# import the files
stud0607_raw = agate.Table.from_csv('../raw_data/0607student.txt', column_types=specified_types)
stud0708_raw = agate.Table.from_csv('../raw_data/0708student.txt', column_types=specified_types)

# also import your district names file

In [4]:
# list out column names for first set of of data
# add all the columns you want to keep
columns_set_01 = ['CAMPUS','BA0GH06N', 'BA0GM06N']

# renaming list for first set
column_names_01 = {
   'BA0GH06N': 'GOOD_COL_01',
   'BA0GM06N': 'GOOD_COL_02'
}

In [5]:
# select the columns set 01
# take out limit(5) for the real deal
stud0607_selected = stud0607_raw.limit(5).select(columns_set_01)
print(stud0607_selected)

| column   | data_type |
| -------- | --------- |
| CAMPUS   | Text      |
| BA0GH06N | Number    |
| BA0GM06N | Number    |

In [6]:
# rename columns set 01
stud0607_renamed = stud0607_selected.rename(column_names_01)
print(stud0607_renamed)

| column      | data_type |
| ----------- | --------- |
| CAMPUS      | Text      |
| GOOD_COL_01 | Number    |
| GOOD_COL_02 | Number    |

In [7]:
# set up your join here to get the district names

### starting processing for set 02

In [8]:
# list out column names for second set of of data
# add all the columns you want to keep
columns_set_02 = ['CAMPUS','BA0GH07N', 'BA0GM07N']

# renaming list for first set
column_names_02 = {
   'BA0GH07N': 'GOOD_COL_01',
   'BA0GM07N': 'GOOD_COL_02'
}

In [9]:
# select the columns set 01
# take out limit(5) for the real deal
stud0708_selected = stud0708_raw.limit(5).select(columns_set_02)
print(stud0708_selected)

| column   | data_type |
| -------- | --------- |
| CAMPUS   | Text      |
| BA0GH07N | Number    |
| BA0GM07N | Number    |

In [10]:
# rename columns set 02
stud0708_renamed = stud0708_selected.rename(column_names_02)
print(stud0708_renamed)

| column      | data_type |
| ----------- | --------- |
| CAMPUS      | Text      |
| GOOD_COL_01 | Number    |
| GOOD_COL_02 | Number    |

In [11]:
# function to create a date column

class datecolumn(agate.Computation): 
    def get_computed_data_type(self, table):
        return agate.Date('%d-%m-%y')
    
    def run(self, table):
        new_column = []
        for row in table.rows:
            new_column.append(year_value)
        return new_column

In [18]:
# set the year value for the first data set
year_value = '01-01-07'
# Then create the new column using the datecolumn function
stud0607_year = stud0607_renamed.compute([
    ('year', datecolumn())
], replace=True)

# set the year value for the secod data set
year_value = '01-01-08'
# create the new column for the second data set
stud0708_year = stud0708_renamed.compute([
    ('year', datecolumn())
], replace=True)

In [15]:
# combine the two tables
combined = agate.Table.merge([stud0607_year, stud0708_year])

In [16]:
# print to show we got them
combined.print_table()

| CAMPUS    | GOOD_COL_01 | GOOD_COL_02 |     year |
| --------- | ----------- | ----------- | -------- |
| 001902001 |       4,094 |       1,354 | 01-01-07 |
| 001902041 |           0 |           0 | 01-01-07 |
| 001902103 |           0 |           0 | 01-01-07 |
| 001903001 |       2,568 |       1,205 | 01-01-07 |
| 001903041 |           0 |           0 | 01-01-07 |
| 001902001 |       4,831 |       1,539 | 01-01-08 |
| 001902041 |           0 |           0 | 01-01-08 |
| 001902103 |           0 |           0 | 01-01-08 |
| 001903001 |       2,975 |       1,089 | 01-01-08 |
| 001903041 |           0 |           0 | 01-01-08 |