In [1]:
import agate

In [2]:
specified_types = {
    'CAMPUS': agate.Text()
}

# demographic student data
students0607 = agate.Table.from_csv('../raw_data/0607student.txt', column_types=specified_types)
students1516 = agate.Table.from_csv('../raw_data/1516student.txt', column_types=specified_types)
# campus data
cr0607 = agate.Table.from_csv('../raw_data/0607cr.txt', column_types=specified_types)
cr1516 = agate.Table.from_csv('../raw_data/1516cr.txt', column_types=specified_types)
# locations = agate.Table.from_csv('../raw_data/Current_Schools.csv')

In [3]:
# joins demo and campus data
join0607 = students0607.join(cr0607, 'CAMPUS')
join1516 = students1516.join(cr1516, 'CAMPUS')

In [4]:
# sets columns to select
columns_one = ['CAMPUS', 'CPETALLC','CPETBLAC', 'CPETHISC', 'CPETWHIC', 'CPETINDC', 'CPETPACC',
        'CPETECOC', 'CPETLEPC','CPETRSKC', 'CPETBLAP','CPETHISP','CPETWHIP', 'CPETINDP', 'CPETPACP', 'CPETECOP','CPETLEPP',
'CPETRSKP','CPETBILC', 'DISTNAME', 'CAMPNAME', 'CNTYNAME']
# sets columns to select
columns_three = ['CAMPUS', 'CPETALLC','CPETBLAC', 'CPETHISC', 'CPETWHIC', 'CPETINDC', 'CPETASIC', 'CPETPCIC', 'CPETTWOC',
       'CPETECOC', 'CPETLEPC','CPETBLAP','CPETHISP','CPETWHIP','CPETINDP', 'CPETASIP', 'CPETPCIP', 'CPETTWOP', 'CPETECOP','CPETLEPP', 'DISTNAME', 'CAMPNAME', 'CNTYNAME']

# selects columns we want based on list above
campus0607_select = join0607.select(columns_one)
campus1516_select = join1516.select(columns_three)

In [5]:
# renames columns
column_names_one = {'CAMPUS': 'CAMPUS',
                                       'CPETALLC': 'ALL_0607',
                                       'CPETBLAC': 'B_0607',
                                       'CPETHISC': 'H_0607',
                                       'CPETWHIC': 'W_0607',
                                       'CPETINDC': 'AI_0607',
                                       'CPETPACC': 'API_0607',
                                       'CPETECOC': 'EC_0607',
                                       'CPETLEPC': 'EL_0607',
                                       'CPETRSKC': 'AT_0607',
                                       'CPETBLAP': 'BP_0607',
                                       'CPETHISP': 'HP_0607',
                                       'CPETWHIP': 'WP_0607',
                                       'CPETINDP': 'AIP_0607',
                                       'CPETPACP': 'APIP_0607',
                                       'CPETECOP': 'ECP_0607',
                                       'CPETLEPP': 'ELP_0607',
                                       'CPETRSKP': 'ATP_0607',
                                       'CPETBILC': 'BILINGUAL_ENROLL'}
column_names_three = {'CAMPUS': 'CAMPUS',
                                       'CPETALLC': 'ALL_1516',
                                       'CPETBLAC': 'B_1516',
                                       'CPETHISC': 'H_1516',
                                       'CPETWHIC': 'W_1516',
                                       'CPETINDC': 'AI_1516',
                                       'CPETASIC': 'AS_1516',
                                       'CPETPCIC': 'PI_1516',
                                       'CPETTWOC': 'TWO_1516',
                                       'CPETECOC': 'EC_1516',
                                       'CPETLEPC': 'EL_1516',
                                       'CPETBLAP': 'BP_1516',
                                       'CPETHISP': 'HP_1516',
                                       'CPETWHIP': 'WP_1516',
                                       'CPETINDP': 'AIP_1516',
                                       'CPETASIP': 'ASP_1516',
                                       'CPETPCIP': 'PIP_1516',
                                       'CPETTWOP': 'TWOP_1516',                
                                       'CPETECOP': 'ECP_1516',
                                       'CPETLEPP': 'ELP_1516',
                                       'CPETBILC': 'BILINGUAL_ENROLL'}
campus0607_rename = campus0607_select.rename(column_names_one)
campus1516_rename = campus1516_select.rename(column_names_three)

In [6]:
# printing column names to check them
print(campus0607_rename)
print(campus1516_rename)

| column           | data_type |
| ---------------- | --------- |
| CAMPUS           | Text      |
| ALL_0607         | Number    |
| B_0607           | Number    |
| H_0607           | Number    |
| W_0607           | Number    |
| AI_0607          | Number    |
| API_0607         | Number    |
| EC_0607          | Number    |
| EL_0607          | Number    |
| AT_0607          | Number    |
| BP_0607          | Number    |
| HP_0607          | Number    |
| WP_0607          | Number    |
| AIP_0607         | Number    |
| APIP_0607        | Number    |
| ECP_0607         | Number    |
| ELP_0607         | Number    |
| ATP_0607         | Number    |
| BILINGUAL_ENROLL | Number    |
| DISTNAME         | Text      |
| CAMPNAME         | Text      |
| CNTYNAME         | Text      |

| column    | data_type |
| --------- | --------- |
| CAMPUS    | Text      |
| ALL_1516  | Number    |
| B_1516    | Number    |
| H_1516    | Number    |
| W_1516    | Number    |
| AI_1516   | Number    |
| AS_1516   | Number    |
| PI_1516   | Number    |
| TWO_1516  | Number    |
| EC_1516   | Number    |
| EL_1516   | Number    |
| BP_1516   | Number    |
| HP_1516   | Number    |
| WP_1516   | Number    |
| AIP_1516  | Number    |
| ASP_1516  | Number    |
| PIP_1516  | Number    |
| TWOP_1516 | Number    |
| ECP_1516  | Number    |
| ELP_1516  | Number    |
| DISTNAME  | Text      |
| CAMPNAME  | Text      |
| CNTYNAME  | Text      |

In [7]:
# Function to create a year column
class datecolumn(agate.Computation): 
    def get_computed_data_type(self, table):
        return agate.Text()
    def run(self, table):
        new_column = []
        for row in table.rows:
            new_column.append(year_value)
        return new_column

In [8]:
# add date for 0607    
year_value = '2007-01-01'
campus0607_date = campus0607_rename.compute([
    ('year', datecolumn())
])
# add date for 1516
year_value = '2016-01-01'
campus1516_date = campus1516_rename.compute([
    ('year', datecolumn())
])

In [9]:
## campus_full = agate.Table.merge([campus0607_date, campus1516_date])
## ^^^ dont' do this. We don't want them on top of each other.

## this takes the later date data and joins it with the ealier data
combo = campus1516_date.join(campus0607_date, 'CAMPUS')
print(combo)

| column           | data_type |
| ---------------- | --------- |
| CAMPUS           | Text      |
| ALL_1516         | Number    |
| B_1516           | Number    |
| H_1516           | Number    |
| W_1516           | Number    |
| AI_1516          | Number    |
| AS_1516          | Number    |
| PI_1516          | Number    |
| TWO_1516         | Number    |
| EC_1516          | Number    |
| EL_1516          | Number    |
| BP_1516          | Number    |
| HP_1516          | Number    |
| WP_1516          | Number    |
| AIP_1516         | Number    |
| ASP_1516         | Number    |
| PIP_1516         | Number    |
| TWOP_1516        | Number    |
| ECP_1516         | Number    |
| ELP_1516         | Number    |
| DISTNAME         | Text      |
| CAMPNAME         | Text      |
| CNTYNAME         | Text      |
| year             | Text      |
| ALL_0607         | Number    |
| B_0607           | Number    |
| H_0607           | Number    |
| W_0607           | Number    |
| AI_0607          | Number    |
| API_0607         | Number    |
| EC_0607          | Number    |
| EL_0607          | Number    |
| AT_0607          | Number    |
| BP_0607          | Number    |
| HP_0607          | Number    |
| WP_0607          | Number    |
| AIP_0607         | Number    |
| APIP_0607        | Number    |
| ECP_0607         | Number    |
| ELP_0607         | Number    |
| ATP_0607         | Number    |
| BILINGUAL_ENROLL | Number    |
| DISTNAME2        | Text      |
| CAMPNAME2        | Text      |
| CNTYNAME2        | Text      |
| year2            | Text      |

In [10]:

## Now filter to needed districts.

district_ids = ['AUSTIN ISD', 'ROUND ROCK ISD', 'LEANDER ISD', 'PFLUGERVILLE ISD', 'HAYS CISD', 'DEL VALLE ISD', 'GEORGETOWN ISD', 'BASTROP ISD', 'MANOR ISD', 'LAKE TRAVIS ISD', 'EANES ISD', 'SAN MARCOS CISD', 'HUTTO ISD', 'DRIPPING SPRINGS ISD', 'ELGIN ISD']

combo_filtered = combo.where(lambda row: row['DISTNAME'].upper() in district_ids
                              )

# campus_filtertwo.to_csv(path='campus_filtertwo.csv')

In [11]:
# TESTING TO MAKE SURE I FILTERED
combo_filtered.select(['DISTNAME', 'CAMPNAME']).print_table()


###### THIS IS WHERE I STOPPED #####
## you'll want to select just the columns you need

| DISTNAME    | CAMPNAME             |
| ----------- | -------------------- |
| BASTROP ISD | BASTROP H S          |
| BASTROP ISD | CEDAR CREEK H S      |
| BASTROP ISD | COLORADO RIVER CO... |
| BASTROP ISD | GENESIS H S          |
| BASTROP ISD | GATEWAY SCH          |
| BASTROP ISD | BASTROP MIDDLE       |
| BASTROP ISD | EMILE EL             |
| BASTROP ISD | MINA EL              |
| BASTROP ISD | CEDAR CREEK EL       |
| BASTROP ISD | BASTROP INT          |
| BASTROP ISD | CEDAR CREEK MIDDLE   |
| BASTROP ISD | RED ROCK EL          |
| BASTROP ISD | CEDAR CREEK INT      |
| BASTROP ISD | BLUEBONNET EL        |
| BASTROP ISD | LOST PINES EL        |
| ELGIN ISD   | ELGIN H S            |
| ELGIN ISD   | PHOENIX H S          |
| ELGIN ISD   | ELGIN MIDDLE         |
| ELGIN ISD   | BOOKER T WASHINGT... |
| ELGIN ISD   | ELGIN EL             |
| ...         | ...                  |

In [12]:
located = campus_filtertwo.join(locations, 'CAMPUS')

NameError: name 'campus_filtertwo' is not defined

In [ ]:
latlong = {'\ufeffX': 'longitude',
          'Y': 'latitude'}
located = located.rename(latlong)

In [ ]:
location_columns = ['DISTNAME', 'CAMPNAME', 'CNTYNAME', 'longitude', 'latitude','STREET', 'CITY', 'ZIP','CAMPUS',
                    'ALL_0607','ALL_1516','B_0607','B_1516','H_0607','H_1516','W_0607','W_1516','AI_0607','AI_1516',
                    'API_0607','AS_1516','PI_1516','TWO_1516','EC_0607','EC_1516','EL_0607','EL_1516','AT_0607',
                    'BP_0607','BP_1516','HP_0607','HP_1516','WP_0607','WP_1516','AIP_0607','AIP_1516',
                    'APIP_0607','ASP_1516','PIP_1516','TWOP_1516','ECP_0607','ECP_1516','ELP_0607','ELP_1516','ATP_0607']

In [ ]:
locationfiltertwo = located.select(location_columns)
locationfiltertwo.to_csv(path='locationfiltertwo.csv')